# ==============================================================================
# DATA ENGINEERING BOOTCAMP - MASTER GITIGNORE
# ==============================================================================

# ------------------------------------------------------------------------------
# 1. SECURITY & CREDENTIALS
# ------------------------------------------------------------------------------
*.json
keys/
secrets/
auth/
.env
.env_encoded
.envrc
*.pem
*.ppk
# ------------------------------------------------------------------------------
# 2. DATASETS & LARGE FILES
# ------------------------------------------------------------------------------
*.csv
*.parquet
*.jsonl
*.avro
*.gz
*.zip
*.tar.gz
data/
dataset/
temp/

# ------------------------------------------------------------------------------
# 3. TERRAFORM
# ------------------------------------------------------------------------------
* .terraform:
* .tfstate:
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# ------------------------------------------------------------------------------
# 4. DOCKER & DATABASE PERSISTENCE
# ------------------------------------------------------------------------------
pgdata/
*_data/
.docker/

# ------------------------------------------------------------------------------
# 5. PYTHON & ENVIRONMENTS
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
env/
ENV/
.pytest_cache/
.ipynb_checkpoints
.mypy_cache/

# ------------------------------------------------------------------------------
# 6. IDE & SYSTEM FILES
# ------------------------------------------------------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
